.title {
  font-weight: bold;
  color: brown;
}
.Welcome {
  text-align: center;
  color: brown;
}

.App {
  text-align: center;
}

.TeamCards {
  display: flex;
  flex-wrap: wrap;
}

.TeamCard {
  width: calc(
    50% - 20px
  ); /* Set the width to half of the container's width minus margins */
  margin-right: 20px; /* Adjust margin as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}
